@model IEnumerable<TaskLibrary.GuildsReputation>

<div class="sw_guilds container">
    @foreach (var GuildRep in Model)
    {

        <div class="sw_guild row">
            <div class="sw_guild_img col-md-2">
                <img src="~/img/quest.png" alt="" />
            </div>
            <div class="sw_guild_name col-md-6">
                <div><b>@GuildRep.Guild.Name</b></div>
                <div>@GuildRep.Guild.Description</div>
            </div>
            <div class="sw_guild_value col-md-2 progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="@(100 * GuildRep.CurrentValue / GuildRep.MaxValue)"
                     aria-valuemin="0" aria-valuemax="100" style="width:@(100 * GuildRep.CurrentValue / GuildRep.MaxValue)%">
                    @GuildRep.CurrentValue/@GuildRep.MaxValue
                </div>
            </div>
            <div class="sw_guild_getmissions col-md-2 text-center">
                    <a href="@Url.Action("GetMissions","Missions",new {id = GuildRep.GuildId})" class="btn btn-primary">Показать миссии</a>
            </div>
        </div>
    }

</div>
