@model IEnumerable<TaskProject.Models.Atribute>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <h3 class="mb-3">
                                <a class="btn btn-primary js-addskill" data_dialog_title="Создание нового навыка" href="@Url.Action("AddSkill","Skills")"><i class="fa fa-plus"></i> Добавить навык</a>
                            </h3>
                        </div>
                        <div class="tab-pane" id="atributes">
                            @foreach (Atribute atribute in Model)
                            {
                                <div class="card collapsed-card">
                                    <div class="card-header">
                                        <div class="progress-group">
                                            <span class="js-atribute" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="@atribute.Description">
                                                <span class="atribute-img" style="font-size: 24px;">
                                                    <i class="@atribute.GetImgPath()"></i>
                                                </span>
                                                @atribute.Name
                                            </span>
                                            <div class="progress progress-sm mt-1">
                                                <div class="progress-bar bg-info" style="width: @(100 * atribute.CurrentExp / atribute.MaxExp)%"></div>
                                            </div>
                                        </div>
                                        <div class="card-tools">
                                            <span>Ур. @atribute.Lvl</span>
                                            <button type="button" class="btn btn-tool" data-widget="collapse">
                                                <i class="fa fa-arrow-down"></i>
                                            </button>
                                        </div>
                                    </div>    

                                    <div class="card-body">
                                        <ul class="todo-list">
                                            @if (!atribute.Skills.Any())
                                            {

                                                <li>Нет навыков</li>
                                            }
                                            else
                                            {
                                                foreach (Skill skill in atribute.Skills.OrderBy(s => s.Name))
                                                {
                                                    <li id="skill-@skill.SkillId" class="ui-state-default">
                                                        <div class="row">
                                                            <div class="progress-group col-10 col-sm-12">
                                                                @*<span class="sortable-icon mr-2">
                                                                        <i class="fa fa-ellipsis-v"></i>
                                                                    </span>*@
                                                                <span>
                                                                    @skill.Name
                                                                </span>
                                                                <span class="float-right">
                                                                    Уровень @skill.Lvl
                                                                </span>
                                                                <div class="progress progress-sm mt-1">
                                                                    <div class="progress-bar bg-info" style="width: @(100 * skill.CurrentExp / skill.MaxExp)%"></div>
                                                                </div>
                                                            </div>
                                                            <div class="pull-right btn-group pt-3 pb-1">
                                                                <a class="js-editskill btn btn-xs btn-primary" data_dialog_title="Редактирование навыка" href="@Url.Action("EditSkill", "Skills", new {id = skill.SkillId})"><i class="fa fa-edit"></i></a>
                                                                <a class="js-deleteskill btn btn-xs btn-danger" href="#" onclick="deleteskill(@skill.SkillId)"><i class="fa fa-trash"></i></a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
