@model IEnumerable<TaskProject.Models.Note>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header text-center">
                        <a class="btn btn-dark addnote" href="@Url.Action("AddNote", new {catalogid = ViewBag.CatalogId })">Добавить новую заметку</a>
                    </div>
                    <div class="card-body">
                        <table class="sw_datatable table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Theme)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DateCreate)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var note in Model)
                                {
                                    <tr id="note-@note.NoteId">
                                        <td>
                                            <span class="cell-span"> @note.Theme</span>
                                           
                                        </td>
                                        <td>
                                            @note.DateCreate.Value.ToShortDateString()
                                        </td>
                                        <td>
                                            <div class="pull-right btn-group">
                                                <a class="btn btn-sm btn-primary" href="@Url.Action("ShowNote","Notes",new {id = note.NoteId })"><i class="fa fa-edit"></i></a>
                                                <form asp-action="DeleteNote" asp-controller="Notes" class="d-inline-block">
                                                    <input type="hidden" name="Id" value="@note.NoteId"/>
                                                    <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{

    <script>
        $(document).ready(function () {
            $('.sw_datatable').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": false,
                "autoWidth": false,
                language: {
                    processing: "Выполняется обработка...",
                    search: "Поиск&nbsp;:",
                    //lengthMenu: "Показать _MENU_ заметок",
                    lengthMenu: "",
                    info: "Отображены с _START_ по _END_ из _TOTAL_ заметок",
                    infoEmpty: "Нет заметок",
                    infoFiltered: "(Поиск из _MAX_ заметок)",
                    infoPostFix: "",
                    loadingRecords: "Идет загрузка...",
                    zeroRecords: "Заметок не найдено",
                    emptyTable: "Нет заметок",
                    paginate: {
                        first: "К первой",
                        previous: "Предыдущие",
                        next: "Следующие",
                        last: "К последней"
                    },
                    aria: {
                        sortAscending: ": Сортировка в порядке возрастания",
                        sortDescending: ": Сортировка в порядке убывания"
                    }
                }
            });

        });
    </script>

}