@using ChartJSCore.Models
<div class="content">
    <div class="container-fluid">
        <div class="row">

            <!-- Month Statistic -->
            <div class="col-md-6 col-12">
                <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">Статистика за @TimeZoneInfo.ConvertTimeToUtc(DateTime.Now).ToString("MMMM").ToLower()</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form asp-action="StatMoods" class="form-inline">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                @Html.Label("Month", "Месяц", htmlAttributes: new { @class = "control-label" , style = "margin-right:10px;"})
                                @Html.DropDownList("Month", (SelectList)ViewBag.Month, new { @class = "form-control", style = "margin-right:10px;" })
                                <button type="submit" class="btn btn-primary"><i class="fa"></i> Выбрать месяц</button>
                            </div>                     
                        </form>
                        <canvas id="pieChart"></canvas>
                    </div>
                    @{ Chart monthChart = (Chart)ViewBag.MonthChart;}
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- End Month Statistic -->
            <!-- Year Statistic -->
            <div class="col-md-6 col-12">
                <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">Статистика за @TimeZoneInfo.ConvertTimeToUtc(DateTime.Now).ToString("yyyy").ToLower() год</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas id="barChart"></canvas>
                    </div>
                    @{ Chart yearChart = (Chart)ViewBag.YearChart;}
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- End Year Statistic -->

        </div>
    </div>
</div>


@section Scripts{
    <!-- ChartJs 1.0.1.-->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <script>
        @Html.Raw(monthChart.CreateChartCode("pieChart"));
        @Html.Raw(yearChart.CreateChartCode("barChart"))
    </script>
}
