@model IEnumerable<TaskProject.Models.Habit>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="text-align:center;">
    <a class="btn btn-success btn-sm" href="#" onclick="addhabit()">Добавить новую привычку</a>
</div>
<table class="table sw_datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HabitStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complication.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Atribute.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAccepted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsUseful)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @item.HabitStart.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DayCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Complication.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Atribute.Name)
                </td>
                <td>
                    @if (item.IsAccepted)
                    {
                        <span class="badge bg-success">Да</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Нет</span>
                    }
                </td>
                <td>
                    @if (item.IsUseful)
                    {
                        <span class="badge bg-success">Да</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Нет</span>
                    }
                </td>
                <td>
                    <div class="pull-right">
                        <button class="btn btn-primary btn-xs" onclick="edithabit(@item.HabitId)"><i class="far fa-edit"></i></button>
                        <button class="btn btn-danger btn-xs" onclick="deletehabit(@item.HabitId)"><i class="far fa-trash-alt"></i></button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>