
@{
    Layout = null;
}

<!doctype html>
<html class="fullscreen-bg">

<head>
    <title>Evolve Me! | @ViewBag.Code</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="~/plugins/bootstrap/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/plugins/font-awesome/css/font-awesome.min.css" asp-append-version="true">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/css/main.min.css" asp-append-version="true">

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet" asp-append-version="true">

    <!-- ICONS
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon.png">
        -->
</head>

<body class="hold-transition sidebar-mini" style="background-color:#e9ecef">
    <div class="container-fluid">
        <div class="row align-items-center text-center" style="height:100vh;">
            <div class="col-12">
                <h1>
                    <span class="clearfix title">
                        <span class="number left">@ViewBag.Code</span> <span class="text">@ViewBag.Title</span>
                    </span>
                </h1>
                <p>@ViewBag.Message                     <a href="@Url.Action("Report", "Info")">Сообщить об этой ошибке.</a></p>
                <div class="margin-top-30">
                    <a href="javascript:history.go(-1)" class="btn btn-default"><i class="fa fa-arrow-left"></i> <span>Вернуться назад</span></a>
                    <a href="@Url.Action("GameRoom", "Home")" class="btn btn-primary"><i class="fa fa-home"></i> <span>Домой</span></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
