@using TaskProject.Models.GoalModels
@model TaskProject.Models.ApplicationUser
<!-- /.content-header -->
<!-- Main content -->

<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">

            <div class="col-md-4">
                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">

                        <div class="text-center">
                            <span style="font-size: 100px;">
                                <i class="fa fa-user-circle"></i>
                            </span>
                        </div>
                        <h3 class="profile-username text-center">

                            @if (string.IsNullOrEmpty(Model.NickName))
                            {                    
                                <a href="@Url.Action("AddNickName","Home")" class="btn btn-xs btn-light js-addnickname"><i class="fa fa-user-plus" style="color: black;"></i> Добавить ник пользователя</a>

                            }
                            else
                            {
                                <span>@Model.NickName</span>
                                <a href="@Url.Action("GetNickName","Home")" class="btn btn-xs btn-light js-editnickname"><i class="fa fa-user-edit" style="color: black;"></i> Редактировать ник пользователя</a>
                            }
                        </h3>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Статус</b>
                                <div class="float-right">Уровень @Html.DisplayFor(m => m.CurrentLevel)</div>
                            </li>

                            <li class="list-group-item">
                                <div class="progress-group js-exp">
                                    <b>Опыт </b>
                                    <span class="float-right">@Html.DisplayFor(m => m.CurrentExp)/@Html.DisplayFor(m => m.MaxExp)</span>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-primary" style="width: @(100 * Model.CurrentExp / Model.MaxExp)%"></div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <b>Монеты </b>
                                <span class="float-right">
                                    @Html.DisplayFor(m => m.CurrentGold)
                                </span>
                            </li>
                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!--Now-->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Сегодня</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <strong class="js-mood">
                            <i class="fa fa-smile-o"></i>
                            Настроение
                            @if (ViewBag.TodayMood != null)
                            {
                                <img class="mood-img pl-4" src="@ViewBag.TodayMood.Mood.LinkImg" alt="@ViewBag.TodayMood.Mood.Name" asp-append-version="true" />
                            }
                        </strong>
                        <div class="mt-3">
                            @if (ViewBag.TodayMood != null)
                            {
                                <form class="checkmood" asp-action="DeleteTodayMood" asp-controller="Moods">
                                    <input type="hidden" name="Id" value="@ViewBag.TodayMood.UserMoodId" />
                                    <div class="col text-center">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-minus"></i> Удалить настроение</button>
                                    </div>
                                </form>
                            }
                            else
                            {
                                <form class="checkmood" asp-action="AddTodayMood" asp-controller="Moods">
                                    <div class="form-row mb-1">
                                        @foreach (Mood mood in ViewBag.ListMood)
                                        {
                                            <div class="mr-1 col">
                                                <div class="text-center">
                                                    <img src="@mood.LinkImg" alt="@mood.Name" class="mood-img" style="font-size: 1rem;" asp-append-version="true" />
                                                </div>
                                                <div class="text-center">
                                                    @Html.RadioButton("MoodId", mood.MoodId)
     
                                                    @Html.Hidden("Name", mood.Name)
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="col text-center">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Добавить настроение</button>
                                    </div>
                                </form>
                            }
                            <hr />
                        </div>

                        <strong>
                            <i class="fa fa-book mr-1"></i>
                            Заметка в дневнике
                        </strong>

                        <div class="text-center mt-3">
                            @if (ViewBag.TodayNote == null)
                            {
                                bool today;
                                <a class="btn btn-primary" href="@Url.Action("AddNote","Notes", new { today = true})"><i class="fa fa-plus"></i> Добавить заметку</a>
                            }
                            else
                            {
                                <a class="btn btn-primary" href="@Url.Action("ShowNote","Notes", new {id = ViewBag.TodayNote.NoteId })"><i class="fa fa-plus"></i> Посмотреть заметку</a>
                            }
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!--End Now-->
            </div>

            <div class="col-md-8">

                <!-- Goals -->
                <div class="card">
                    <div class="card-header d-flex p-0">
                        <h3 class="card-title p-3">Задачи</h3>
                        <ul class="nav nav-pills ml-auto p-2">
                            <li class="nav-item"><a class="nav-link active show" href="#now" data-toggle="tab">Сегодня </a></li>
                            <li class="nav-item"><a class="nav-link" href="#week" data-toggle="tab">Неделя</a></li>
                            <li class="nav-item"><a class="nav-link" href="#month" data-toggle="tab">Месяц</a></li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <h3 class="mb-3 text-center">
                            <a class="btn btn-primary js-addgoal" data_dialog_title="Создание новой задачи" href="@Url.Action("AddGoal","Goals")"><i class="fa fa-plus"></i> Добавить задачу</a>
                        </h3>
                        <div class="tab-content">
                            <div class="tab-pane active show" id="now">
                                <ul class="todo-list ui-sortable">
                                    @foreach (var goal in Model.Goals.Where(g => g.IsComplete == false && g.GoalEnd.HasValue && g.GoalEnd.Value.Date <= DateTime.Now.Date))
                                    {
                                        <li id="goal-@goal.GoalId">
                                            <!-- checkbox -->
                                            <a href="@Url.Action("CompleteGoal","Goals",new { id = goal.GoalId})" class="btn btn-xs btn-light js-completegoal"><i class="fa fa-calendar-check" style="color: black;"></i></a>
                                            <span class="text">@goal.Name</span>
                                            <!-- Emphasis label -->

                                            @if (goal.GoalEnd == null)
                                            {
                                                <small class="badge badge-success"><i class="fa fa-clock-o"></i> Без срока</small>
                                            }
                                            else if (goal.GoalEnd < DateTime.Now)
                                            {
                                                <small class="badge badge-danger"><i class="fa fa-clock-o"></i> @goal.GoalEnd.Value.ToString("dd.MM.yyyy HH:mm")</small>
                                            }
                                            else
                                            {
                                                <small class="badge badge-success"><i class="fa fa-clock-o"></i> @goal.GoalEnd.Value.ToString("dd.MM.yyyy HH:mm")</small>

                                            }
                                            
                                            @if (goal.PassCount != 0)
                                            {
                                                <small class="badge badge-danger"><i class="fa fa-calendar-minus"></i> Пропущено раз: @goal.PassCount </small>
                                            }

                                            <!-- General tools such as edit or delete-->
                                            <div class="pull-right btn-group">
                                                <a class="js-editgoal btn btn-xs btn-primary" data_dialog_title="Редактирование задачи" href="@Url.Action("EditGoal","Goals",new {id = goal.GoalId })"><i class="fa fa-edit"></i></a>
                                                <a class="js-deletegoal btn btn-xs  btn-danger" href="#" onclick="deletegoal(@goal.GoalId)"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                            

                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="week">
                                <ul class="todo-list ui-sortable">
                                    @foreach (var goal in Model.Goals.Where(g => g.IsComplete == false && g.GoalEnd.HasValue && g.GoalEnd.Value.Date <= DateTime.Now.AddDays(7)))
                                    {
                                    <li id="goal-@goal.GoalId">
                                        <!-- checkbox -->
                                        <a href="@Url.Action("CompleteGoal","Goals",new { id = goal.GoalId})" class="btn btn-xs btn-light js-completegoal"><i class=" fa fa-calendar-check" style="color: black;"></i></a>
                                        <!-- todo text -->
                                        <span class="text">@goal.Name</span>
                                        <!-- Emphasis label -->

                                        @if (goal.GoalEnd == null)
                                        {
                                            <small class="badge badge-success"><i class="fa fa-clock-o"></i> Без срока</small>
                                        }
                                        else if (goal.GoalEnd < DateTime.Now)
                                        {
                                            <small class="badge badge-danger"><i class="fa fa-clock-o"></i> @goal.GoalEnd.Value.ToString("dd.MM.yyyy HH:mm")</small>
                                        }
                                        else
                                        {
                                            <small class="badge badge-success"><i class="fa fa-clock-o"></i> @goal.GoalEnd.Value.ToString("dd.MM.yyyy HH:mm")</small>

                                        }

                                        @if (goal.PassCount != 0)
                                        {
                                            <small class="badge badge-danger"><i class="fa fa-calendar-minus"></i> Пропущено раз: @goal.PassCount </small>
                                        }

                                        <!-- General tools such as edit or delete-->
                                        <div class="pull-right btn-group">
                                            <a class="js-editgoal btn btn-xs btn-primary" data_dialog_title="Редактирование задачи" href="@Url.Action("EditGoal","Goals",new {id = goal.GoalId })"><i class="fa fa-edit"></i></a>
                                            <a class="js-deletegoal btn btn-xs  btn-danger" href="#" onclick="deletegoal(@goal.GoalId)"><i class="fa fa-trash"></i></a>
                                        </div>
                                    </li>
                                    }
                                </ul>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="month">
                                <ul class="todo-list ui-sortable">
                                    @foreach (var goal in Model.Goals.Where(g => g.IsComplete == false && g.GoalEnd.HasValue && g.GoalEnd.Value.Date <= DateTime.Now.AddDays(30)))
                                    {
                                    <li id="goal-@goal.GoalId">
                                        <!-- checkbox -->
                                        <a href="@Url.Action("CompleteGoal","Goals",new { id = goal.GoalId})" class="btn btn-xs btn-light js-completegoal"><i class=" fa fa-calendar-check" style="color: black;"></i></a>
                                        <!-- todo text -->
                                        <span class="text">@goal.Name</span>
                                        <!-- Emphasis label -->

                                        @if (goal.GoalEnd == null)
                                        {
                                            <small class="badge badge-success"><i class="fa fa-clock-o"></i> Без срока</small>
                                        }
                                        else if (goal.GoalEnd < DateTime.Now)
                                        {
                                            <small class="badge badge-danger"><i class="fa fa-clock-o"></i> @goal.GoalEnd.Value.ToString("dd.MM.yyyy HH:mm")</small>
                                        }
                                        else
                                        {
                                            <small class="badge badge-success"><i class="fa fa-clock-o"></i> @goal.GoalEnd.Value.ToString("dd.MM.yyyy HH:mm")</small>

                                        }

                                        @if (goal.PassCount != 0)
                                        {
                                            <small class="badge badge-danger"><i class="fa fa-calendar-minus"></i> Пропущено раз: @goal.PassCount </small>
                                        }

                                        <!-- General tools such as edit or delete-->
                                        <div class="pull-right btn-group">
                                            <a class="js-editgoal btn btn-xs btn-primary" data_dialog_title="Редактирование задачи" href="@Url.Action("EditGoal","Goals",new {id = goal.GoalId })"><i class="fa fa-edit"></i></a>
                                            <a class="js-deletegoal btn btn-xs  btn-danger" href="#" onclick="deletegoal(@goal.GoalId)"><i class="fa fa-trash"></i></a>
                                        </div>
                                    </li>
                                    }
                                </ul>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- End Goals -->

                <!-- Skills -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Навыки</h3>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="text-center">
                                <h3 class="mb-3">
                                    <a class="btn btn-primary js-addskill" data_dialog_title="Создание нового навыка" href="@Url.Action("AddSkill","Skills")"><i class="fa fa-plus"></i> Добавить навык</a>
                                </h3>
                            </div>

                            <!-- Atributes -->
                            @foreach (Atribute atribute in Model.Atributes)
                            {
                                <div class="card collapsed-card">
                                    <div class="card-header" style="padding:0; padding-bottom: 5px; padding-top: 5px;'">
                                        <h3 class="card-title">
                                            <span class="js-atribute" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="@atribute.Description">
                                        
                                                <span class="atribute-img" style="font-size: 24px;">
                                                    <i class="@atribute.GetImgPath()"></i>
                                                </span>
                                                @atribute.Name (уровень @atribute.Lvl)
                                            </span>
                                        </h3>

                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-widget="collapse">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                        <!-- /.card-tools -->
                                    </div>

                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-info" style="width:  @(100 * atribute.CurrentExp / atribute.MaxExp)%"></div>
                                    </div>

                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <ul class="todo-list">
                                            @if (!atribute.Skills.Any())
                                            {
                                          
                                                <li>Нет навыков</li>
                                            }
                                            else
                                            {
                                                foreach (Skill skill in atribute.Skills.OrderBy(s => s.Name))
                                                {
                                                    <li id="skill-@skill.SkillId" class="ui-state-default">
                                                        <div class="row">
                                                            <div class="progress-group col-10 col-sm-12">
                                                                @*<span class="sortable-icon mr-2">
                                                                        <i class="fa fa-ellipsis-v"></i>
                                                                    </span>*@
                                                                <span>
                                                                    @skill.Name
                                                                </span>
                                                                <span class="float-right">
                                                                    Уровень @skill.Lvl
                                                                </span>
                                                                <div class="progress progress-sm mt-1">
                                                                    <div class="progress-bar bg-info" style="width:  @(100 * skill.CurrentExp / skill.MaxExp)%"></div>
                                                                </div>
                                                            </div>
                                                            <div class="pull-right btn-group pt-3 pb-1">
                                                                <a class="js-editskill btn btn-xs btn-primary" data_dialog_title="Редактирование навыка" href="@Url.Action("EditSkill","Skills",new {id = skill.SkillId })"><i class="fa fa-edit"></i></a>
                                                                <a class="js-deleteskill btn btn-xs btn-danger" href="#" onclick="deleteskill(@skill.SkillId)"><i class="fa fa-trash"></i></a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                            }
                        </div>
                        <!-- End Atributes-->
                    </div>
                </div>
                <!-- End Skills-->
            </div>
        </div>
    </div>
</section>
