@using TaskProject.Models.GoalModels
@model TaskProject.Models.ApplicationUser
<!-- /.content-header -->
<!-- Main content -->

<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">

            <div class="col-md-12">
                <!-- Goals -->
                @Html.Partial("Goals", Model.Goals)
                <!-- End Goals -->
            </div>

            <div class="col-md-4">
                <!-- Настроение -->
                <div class="card card-widget" style="min-height: 241px;">
                    <div class="card-header">
                        <h3 class="card-title">Настроение</h3>
                    </div>
                    <div class="card-body">
                        <p class="text-center">
                            Настроение позволяет отслеживать эмоциональное состояние.
                        </p>
                    </div>

                    <div class="mb-3">
                        @if (ViewBag.TodayMood != null)
                        {
                            <form class="checkmood" asp-action="DeleteTodayMood" asp-controller="Moods">
                                <p class="js-mood text-center">
                                    <img class="mood-img" src="@ViewBag.TodayMood.Mood.LinkImg" alt="@ViewBag.TodayMood.Mood.Name" asp-append-version="true" />
                                </p>
                                <input type="hidden" name="Id" value="@ViewBag.TodayMood.UserMoodId" />
                                <div class="col text-center">
                                    <button type="submit" class="btn btn-dark"><i class="fa fa-minus"></i> Удалить настроение</button>
                                </div>
                            </form>
                        }
                        else
                        {
                            <form class="checkmood" asp-action="AddTodayMood" asp-controller="Moods">
                                <div class="form-row mb-1">
                                    @foreach (Mood mood in ViewBag.ListMood)
                                    {
                                        <div class="mr-1 col">
                                            <div class="text-center">
                                                <img src="@mood.LinkImg" alt="@mood.Name" class="mood-img" asp-append-version="true" />
                                            </div>
                                            <div class="text-center">
                                                @Html.RadioButton("MoodId", mood.MoodId)

                                                @Html.Hidden("Name", mood.Name)
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="col text-center">
                                    <button type="submit" class="btn btn-dark"><i class="fa fa-plus"></i> Добавить настроение</button>
                                </div>
                            </form>
                        }

                    </div>
                </div>
                <!-- /Настроение -->
            </div>

            <div class="col-md-4">
                <!-- Карма -->
                <div class="card card-widget" style="min-height: 241px;">
                    <div class="card-header">
                        <h3 class="card-title">Карма</h3>
                    </div>
                    <div class="card-body">
                        <p class="text-center">
                            Ежедневно отслеживайте свою карму, как много хороших или плохих дел вы сделали.
                        </p>
                    </div>
                    <div class="text-center mb-3">
                        <a class="btn btn-dark js-addkarma" data_dialog_title="Добавить новый поступок" href="@Url.Action("Add","Karma", new { today = true})"><i class="fa fa-plus"></i> Добавить поступок</a>
                    </div>
                </div>
                <!-- /Карма -->
            </div>

            <div class="col-md-4">
                <!-- Заметка -->
                <div class="card card-widget" style="min-height: 241px;">
                    <div class="card-header">
                        <h3 class="card-title">Заметка</h3>
                    </div>
                    <div class="card-body">
                        <p class="text-center">
                            Ежедневные заметки помогут вам более запоминать прожитый опыт.
                        </p>
                    </div>

                    <div class="text-center mb-3">
                        @if (ViewBag.TodayNote == null)
                        {
                            bool today;
                            <a class="btn btn-dark" href="@Url.Action("AddNote","Notes", new { today = true})"><i class="fa fa-plus"></i> Добавить заметку</a>
                        }
                        else
                        {
                            <a class="btn btn-dark" href="@Url.Action("ShowNote","Notes", new {id = ViewBag.TodayNote.NoteId })"><i class="fa fa-plus"></i> Посмотреть заметку</a>
                        }
                    </div>
                </div>
                <!-- /Заметка -->
            </div>
        </div>
    </div>
</section>
