@model TaskProject.Models.ApplicationUser
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Dashboard</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#"></a></li>
                    <li class="breadcrumb-item active">Dashboard v2</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Состояние персонажа</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="mb-3">
                            Уровень @Html.DisplayFor(m => m.CurrentLevel)
                        </div>

                        <div class="progress-group">
                            Здоровье
                            <span class="float-right"><b>@Html.DisplayFor(m => m.CurrentHealth)</b>/@Html.DisplayFor(m => m.MaxHealth)</span>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-danger" style="width:  @(100 * Model.CurrentHealth / Model.MaxHealth)%"></div>
                            </div>
                        </div>

                        <div class="progress-group">
                            Опыт
                            <span class="float-right"><b>@Html.DisplayFor(m => m.CurrentExp)</b>/@Html.DisplayFor(m => m.MaxExp)</span>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-primary" style="width: @(100 * Model.CurrentExp / Model.MaxExp)%"></div>
                            </div>
                        </div>
                        <div class="mb-3">
                            @Html.DisplayFor(m => m.CurrentGold) монет
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header ui-sortable-handle" style="cursor: move;">
                        <h3 class="card-title">
                            <i class="ion ion-clipboard mr-1"></i>
                            Задачи
                        </h3>
                        @*<div class="card-tools">
                            <ul class="pagination pagination-sm">
                                <li class="page-item"><a href="#" class="page-link">«</a></li>
                                <li class="page-item"><a href="#" class="page-link">1</a></li>
                                <li class="page-item"><a href="#" class="page-link">2</a></li>
                                <li class="page-item"><a href="#" class="page-link">3</a></li>
                                <li class="page-item"><a href="#" class="page-link">»</a></li>
                            </ul>
                        </div>*@
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <ul class="todo-list ui-sortable">
                            @foreach (var Goal in Model.Goals.Where(g => g.IsComplete == false).Where(g => g.TaskEnd == DateTime.Now.Date))
                            {
                                <li>
                                    <!-- drag handle -->
                                    <span class="handle ui-sortable-handle">
                                        <i class="fa fa-ellipsis-v"></i>
                                        <i class="fa fa-ellipsis-v"></i>
                                    </span>
                                    <!-- checkbox -->
                                    <a href="@Url.Action("CompleteGoal","Goals",new { id = Goal.CharacterTaskId})" class="btn btn-xs"><i class=" fa fa-check"></i></a>
                                    <!-- todo text -->
                                    <span class="text">@Goal.Name</span>
                                    <!-- Emphasis label -->
                                    <small class="badge badge-danger"><i class="fa fa-clock-o"></i> 2 mins</small>
                                    <!-- General tools such as edit or delete-->
                                    <div class="tools">
                                        <i class="fa fa-edit" onclick="edittask(@Goal.CharacterTaskId)"></i>
                                        <i class="fa fa-trash-o" onclick="deletetask(@Goal.CharacterTaskId)"></i>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        <button type="button" class="btn btn-info float-right" onclick="addtask()"><i class="fa fa-plus"></i> Добавить задачу</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

