@model List<TaskProject.Models.GoalModels.Goal>


<div class="card" style="min-height: 300px">
    <div class="card-header d-flex p-0">
        <h3 class="card-title p-3 d-none d-md-block">Задачи</h3>
        <ul class="nav nav-pills ml-auto p-2">
            <li class="nav-item"><a class="nav-link active show" href="#now" data-toggle="tab">Сегодня </a></li>
            <li class="nav-item"><a class="nav-link" href="#week" data-toggle="tab">Неделя</a></li>
            <li class="nav-item"><a class="nav-link" href="#month" data-toggle="tab">Месяц</a></li>
        </ul>
    </div><!-- /.card-header -->
    <div class="card-body">
        <h3 class="mb-3 text-center">
            <a class="btn btn-dark js-addgoal" data_dialog_title="Создание новой задачи" href="@Url.Action("AddGoal","Goals")"> Добавить задачу</a>
        </h3>
        <div class="tab-content">
            <div class="tab-pane active show" id="now">
                <ul class="todo-list ui-sortable">
                    @foreach (var goal in Model.Where(g => g.IsComplete == false && g.GoalEnd.HasValue && g.GoalEnd.Value.Date <= TimeZoneInfo.ConvertTimeToUtc(DateTime.Now).Date))
                    {
                    <li id="goal-@goal.GoalId">
                        <div class="row">
                            <div class="col-8 col-md-10 col-lg-11">
                                <div class="float-left pr-2 h-100">
                                    <a href="@Url.Action("CompleteGoal", "Goals", new {id = goal.GoalId})" class="btn btn-sm btn-success js-completegoal"><i class="fa fa-plus"></i></a>
                                </div>
                                <span>@goal.Name</span>
                            </div>
                            <div class="col-4 col-md-2 col-lg-1 btn-group">
                                <a class="js-editgoal btn btn-sm btn-primary" data_dialog_title="Редактирование задачи" href="@Url.Action("EditGoal", "Goals", new {id = goal.GoalId})"><i class="fa fa-edit"></i></a>
                                <a class="js-deletegoal btn btn-sm  btn-danger" href="#" onclick="deletegoal(@goal.GoalId)"><i class="fa fa-trash"></i></a>
                            </div>
                        </div>

                        @if (goal.GoalEnd == null)
                        {
                            <small class="badge badge-success"><i class="fa fa-clock-o"></i> Без срока</small>
                        }
                        else if (goal.GoalEnd.Value < TimeZoneInfo.ConvertTimeToUtc(DateTime.Now))
                        {
                            <small class="badge badge-danger"><i class="fa fa-clock-o"></i> Дата: @goal.GoalEnd.Value.ToLocalTime().ToString("dd.MM.yyyy HH:mm")</small>
                        }
                        else
                        {
                            <small class="badge badge-success"><i class="fa fa-clock-o"></i> Дата: @goal.GoalEnd.Value.ToLocalTime().ToString("dd.MM.yyyy HH:mm")</small>

                        }

                        @if (goal.PassCount != 0)
                        {
                            <small class="badge badge-danger"><i class="fa fa-calendar-minus"></i> Пропуск: @goal.PassCount </small>
                        }
                        
                    </li>
                    }
                </ul>
            </div>


            <!-- /.tab-pane -->
            <div class="tab-pane" id="week">
                <ul class="todo-list ui-sortable">
                    @foreach (var goal in Model.Where(g => g.IsComplete == false && g.GoalEnd.HasValue && g.GoalEnd.Value.Date <= TimeZoneInfo.ConvertTimeToUtc(DateTime.Now).AddDays(7)))
                    {
                        <li id="goal-@goal.GoalId">
                            <div class="row">
                                <div class="col-8 col-md-10 col-lg-11">
                                    <div class="float-left pr-2 h-100">
                                        <a href="@Url.Action("CompleteGoal", "Goals", new {id = goal.GoalId})" class="btn btn-sm btn-success js-completegoal"><i class="fa fa-plus"></i></a>
                                    </div>
                                    <span>@goal.Name</span>
                                </div>
                                <div class="col-4 col-md-2 col-lg-1 btn-group">
                                    <a class="js-editgoal btn btn-sm btn-primary" data_dialog_title="Редактирование задачи" href="@Url.Action("EditGoal", "Goals", new {id = goal.GoalId})"><i class="fa fa-edit"></i></a>
                                    <a class="js-deletegoal btn btn-sm  btn-danger" href="#" onclick="deletegoal(@goal.GoalId)"><i class="fa fa-trash"></i></a>
                                </div>
                            </div>


                            @if (goal.GoalEnd == null)
                            {
                                <small class="badge badge-success"><i class="fa fa-clock-o"></i> Без срока</small>
                            }
                            else if (goal.GoalEnd.Value < TimeZoneInfo.ConvertTimeToUtc(DateTime.Now))
                            {
                                <small class="badge badge-danger"><i class="fa fa-clock-o"></i> Дата: @goal.GoalEnd.Value.ToLocalTime().ToString("dd.MM.yyyy HH:mm")</small>
                            }
                            else
                            {
                                <small class="badge badge-success"><i class="fa fa-clock-o"></i> Дата: @goal.GoalEnd.Value.ToLocalTime().ToString("dd.MM.yyyy HH:mm")</small>

                            }

                            @if (goal.PassCount != 0)
                            {
                                <small class="badge badge-danger"><i class="fa fa-calendar-minus"></i> Пропуск: @goal.PassCount </small>
                            }
                        </li>
                    }
                </ul>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="month">
                <ul class="todo-list ui-sortable">
                    @foreach (var goal in Model.Where(g => g.IsComplete == false && g.GoalEnd.HasValue && g.GoalEnd.Value.Date <= TimeZoneInfo.ConvertTimeToUtc(DateTime.Now).AddDays(30)))
                    {
                        <li id="goal-@goal.GoalId">
                            <div class="row">
                                <div class="col-8 col-md-10 col-lg-11">
                                    <div class="float-left pr-2 h-100">
                                        <a href="@Url.Action("CompleteGoal", "Goals", new {id = goal.GoalId})" class="btn btn-sm btn-success js-completegoal"><i class="fa fa-plus"></i></a>
                                    </div>
                                    <span>@goal.Name</span>
                                </div>
                                <div class="col-4 col-md-2 col-lg-1 btn-group">
                                    <a class="js-editgoal btn btn-sm btn-primary" data_dialog_title="Редактирование задачи" href="@Url.Action("EditGoal", "Goals", new {id = goal.GoalId})"><i class="fa fa-edit"></i></a>
                                    <a class="js-deletegoal btn btn-sm  btn-danger" href="#" onclick="deletegoal(@goal.GoalId)"><i class="fa fa-trash"></i></a>
                                </div>
                            </div>


                            @if (goal.GoalEnd == null)
                            {
                                <small class="badge badge-success"><i class="fa fa-clock-o"></i> Без срока</small>
                            }
                            else if (goal.GoalEnd.Value < TimeZoneInfo.ConvertTimeToUtc(DateTime.Now))
                            {
                                <small class="badge badge-danger"><i class="fa fa-clock-o"></i> Дата: @goal.GoalEnd.Value.ToLocalTime().ToString("dd.MM.yyyy HH:mm")</small>
                            }
                            else
                            {
                                <small class="badge badge-success"><i class="fa fa-clock-o"></i> Дата: @goal.GoalEnd.Value.ToLocalTime().ToString("dd.MM.yyyy HH:mm")</small>

                            }

                            @if (goal.PassCount != 0)
                            {
                                <small class="badge badge-danger"><i class="fa fa-calendar-minus"></i> Пропуск: @goal.PassCount </small>
                            }
                        </li>
                    }
                </ul>
            </div>
            <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
    </div><!-- /.card-body -->
</div>