@model List<TaskLibrary.CharacterAtribute>

<div class="form-central">
    @using (Html.BeginForm("SetAtributes", "Home", FormMethod.Post, new { @class = "form-horizontal form-profile", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <h3>Оцените ваши навыки в различных областях</h3>
        for (int i = 0; i < Model.Count; i++)
        {
            @Html.Hidden("[" + i + "].AtributeId", Model[i].Atribute.AtributeId)
            @Html.Hidden("[" + i + "].MaxValue", Model[i].MaxValue)
            string rangevalue = "rangevalue" + (i + 1).ToString();
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        @Model[i].Atribute.Name
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        @Model[i].Atribute.Description
                    </div>
                    <div class="col-sm-6">
                        <input type="range" name="[@i].Value" value="@Model[i].Value" step="1" min="0" max="@Model[i].MaxValue" list="rangeskill" onchange="document.getElementById('@rangevalue').innerHTML = this.value;" />
                        <datalist id="rangeskill">
                            <option value="0" label="0"></option>
                            <option value="1" label="1"></option>
                            <option value="2" label="2"></option>
                            <option value="3" label="3"></option>
                            <option value="4" label="4"></option>
                            <option value="5" label="5"></option>
                            <option value="6" label="6"></option>
                            <option value="7" label="7"></option>
                            <option value="8" label="8"></option>
                            <option value="9" label="9"></option>
                            <option value="10" label="10"></option>
                        </datalist>
                        <span id="@rangevalue">0</span>
                    </div>
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6 text-center">
                <button type="submit" class="button special">Сохранить изменения</button>
            </div>
        </div>
    }
</div>

