@using TaskProject
@model ViewSetProfileModel

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <!-- Grid row -->
                <div class="row pt-5 d-flex justify-content-center">

                    <!-- Grid column -->
                    <div class="steps-choice col-md-2 pl-5 pl-md-0 pb-5">

                        <!-- Stepper -->
                        <div class="steps-form-3">
                            <div class="steps-row-3 setup-panel-3 d-flex justify-content-between">
                                <div class="steps-step-3">
                                    <a href="#step-5" type="button" class="btn btn-info btn-circle-3 waves-effect ml-0" data-toggle="tooltip" data-placement="top" title="О себе"><i class="fas fa-user" aria-hidden="true"></i></a>
                                </div>
                                <div class="steps-step-3">
                                    <a href="#step-6" type="button" class="btn btn-pink btn-circle-3 waves-effect p-3" data-toggle="tooltip" data-placement="top" title="Данные о здоровье"><i class="fas fa-heart" aria-hidden="true"></i></a>
                                </div>
                                <div class="steps-step-3">
                                    <a href="#step-7" type="button" class="btn btn-pink btn-circle-3 waves-effect" data-toggle="tooltip" data-placement="top" title="Данные о еде"><i class="fas fa-utensils" aria-hidden="true"></i></a>
                                </div>
                                <div class="steps-step-3">
                                    <a href="#step-8" type="button" class="btn btn-pink btn-circle-3 waves-effect" data-toggle="tooltip" data-placement="top" title="Данные об отношениях с людьми"><i class="fas fa-comments" aria-hidden="true"></i></a>
                                </div>
                                <div class="steps-step-3 no-height">
                                    <a href="#step-9" type="button" class="btn btn-pink btn-circle-3 waves-effect p-3" data-toggle="tooltip" data-placement="top" title="Данные о родственниках"><i class="fas fa-users" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-7">

                        <form role="form" action="SetProfile" method="post">
                            @Html.AntiForgeryToken()

                            <div class="row setup-content-3" id="step-5">
                                <div class="col-md-12">
                                    <h3 class="font-weight-bold pl-0 my-4"><strong>Основные данные</strong></h3>
                                    <p>
                                        Эта анкета поможет узнать нам общее состояние вашего здоровья.
                                    </p>
                                    <div class="form-group md-form">
                                        <label for="Sex" data-error="wrong" data-success="right">Пол</label>
                                        @Html.DropDownListFor(m => m.Sex, Model.SexSelect, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group md-form mt-3">
                                        <label for="DateBirth" data-error="wrong" data-success="right">Дата рождения</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                            </div>
                                            @if (Model.DateBirth.HasValue)
                                            {
                                                <input id="DateBirth" name="DateBirth" type="date" class="form-control validate" value="@Model.DateBirth.Value.ToString("yyyy-MM-dd")">
                                            }
                                            else
                                            {
                                                <input id="DateBirth" name="DateBirth" type="date" class="form-control validate">
                                            }
                                        </div>
                                        @Html.ValidationMessageFor(m => m.DateBirth, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group md-form">
                                        <label for="Growth" data-error="wrong" data-success="right">Ваш рост</label>
                                        <input id="Growth" name="Growth" type="text" class="form-control validate" value="@Model.Growth">
                                        @Html.ValidationMessageFor(m => m.Growth, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group md-form mt-3">
                                        <label for="Weight" data-error="wrong" data-success="right">Ваш вес</label>
                                        <input id="Weight" name="Weight" type="text" class="form-control validate" value="@Model.Weight">
                                        @Html.ValidationMessageFor(m => m.Weight, "", new { @class = "text-danger" })
                                    </div>

                                    <button class="btn btn-mdb-color btn-rounded nextBtn-3 float-right" type="button">Дальше</button>
                                </div>
                            </div>

                            <div class="row setup-content-3" id="step-6">
                                <div class="col-md-12">
                                    <h3 class="font-weight-bold pl-0 my-4"><strong>Данные о здоровье</strong></h3>

                                    <div class="form-group md-form">
                                        <label for="IsSport" data-error="wrong" data-success="right">Занимаетесь ли вы регулярно спортом?</label>
                                        @Html.DropDownListFor(m => m.IsSport, Model.SportsSelest, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group md-form">
                                        <label for="IsStress" data-error="wrong" data-success="right">Умеете ли вы эффективно бороться со стрессом?</label>
                                        @Html.DropDownListFor(m => m.IsStress, Model.StressSelect, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group md-form">
                                        <label for="IsSmoke" data-error="wrong" data-success="right">Курите ли вы?</label>
                                        @Html.DropDownListFor(m => m.IsSmoke, Model.SmokeSelect, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group md-form">
                                        <label for="IsAlcoholDrink" data-error="wrong" data-success="right">Часто ли вы принимаете алкоголь?</label>
                                        @Html.DropDownListFor(m => m.IsAlcoholDrink, Model.AlcoholSelect, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group md-form">
                                        <label for="IsAdversePlace" data-error="wrong" data-success="right">Живете ли вы в экологически неблагоприятном месте?</label>
                                        @Html.DropDownListFor(m => m.IsAdversePlace, Model.AdversePlaceSelect, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group md-form">
                                        <label for="IsStrongTan" data-error="wrong" data-success="right">Предпочитаете ли вы сильный загар?</label>
                                        @Html.DropDownListFor(m => m.IsStrongTan, Model.StrongTanSelect, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group md-form">
                                        <label for="IsDentalFloss" data-error="wrong" data-success="right">Часто ли вы чистите зубы?</label>
                                        @Html.DropDownListFor(m => m.IsDentalFloss, Model.DentalFlossSelect, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group md-form">
                                        <label for="IsRegularChair" data-error="wrong" data-success="right">Регулярный ли у вас стул?</label>
                                        @Html.DropDownListFor(m => m.IsRegularChair, Model.RegularChairSelect, new { @class = "form-control" })
                                    </div>
                                    <button class="btn btn-mdb-color btn-rounded prevBtn-3 float-left" type="button">Назад</button>
                                    <button class="btn btn-mdb-color btn-rounded nextBtn-3 float-right" type="button">Дальше</button>
                                </div>
                            </div>

                            <div class="row setup-content-3" id="step-7">
                                <div class="col-md-12">
                                    <h3 class="font-weight-bold pl-0 my-4"><strong>Данные о еде</strong></h3>
                                    <div class="form-group md-form">
                                        <label for="IsCoffee" data-error="wrong" data-success="right">Принимаете ли вы более 450 г кофе в день?</label>
                                        @Html.DropDownListFor(m => m.IsCoffee, Model.CoffeeSelect, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group md-form">
                                        <label for="IsFastFood" data-error="wrong" data-success="right">Часто ли вы предпочитаете есть фастфуд?</label>
                                        @Html.DropDownListFor(m => m.IsFastFood, Model.FastFoodSelect, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group md-form">
                                        <label for="IsFriedFood" data-error="wrong" data-success="right">Часто ли вы предпочитаете сильно прожаренную пищу?</label>
                                        @Html.DropDownListFor(m => m.IsFriedFood, Model.FriedFoodSelect, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group md-form">
                                        <label for="IsFattyFood" data-error="wrong" data-success="right">Часто ли вы предпочитаете жирную пищу?</label>
                                        @Html.DropDownListFor(m => m.IsFattyFood, Model.FattyFoodSelect, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group md-form">
                                        <label for="Food" data-error="wrong" data-success="right">Что вы больше предпочитаете в еде, овощи или мясо?</label>
                                        @Html.DropDownListFor(m => m.Food, Model.FoodSelect, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group md-form">
                                        <label for="IsVitamit" data-error="wrong" data-success="right">Принимаете ли вы витамин E?</label>
                                        @Html.DropDownListFor(m => m.IsVitamit, Model.VitaminSelect, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group md-form">
                                        <label for="IsAspirin" data-error="wrong" data-success="right">Принимаете ли вы аспирин каждый день в малых дозах?</label>
                                        @Html.DropDownListFor(m => m.IsAspirin, Model.AspirinSelect, new { @class = "form-control" })
                                    </div>
                                    <button class="btn btn-mdb-color btn-rounded prevBtn-3 float-left" type="button">Назад</button>
                                    <button class="btn btn-mdb-color btn-rounded nextBtn-3 float-right" type="button">Дальше</button>
                                </div>
                            </div>


                            <div class="row setup-content-3" id="step-8">
                                <div class="col-md-12">
                                    <h3 class="font-weight-bold pl-0 my-4"><strong>Данные об отношениях с людьми</strong></h3>
                                    <div class="form-group md-form">
                                        <label for="IsMarriage" data-error="wrong" data-success="right">В браке ли вы?</label>
                                        @Html.DropDownListFor(m => m.IsMarriage, Model.MarriageSelect, new { @class = "form-control" })
                                    </div>

                                    <div class="form-group md-form">
                                        <label for="IsSexRelation" data-error="wrong" data-success="right">Осуществляете ли вы рискованные половые связи?</label>
                                        @Html.DropDownListFor(m => m.IsSexRelation, Model.SexRelationSelect, new { @class = "form-control" })
                                    </div>
                                    <button class="btn btn-mdb-color btn-rounded prevBtn-3 float-left" type="button">Назад</button>
                                    <button class="btn btn-mdb-color btn-rounded nextBtn-3 float-right" type="button">Дальше</button>
                                </div>
                            </div>

                            <div class="row setup-content-3" id="step-9">
                                <div class="col-md-12">
                                    <h3 class="font-weight-bold pl-0 my-4"><strong>Данные о родственниках</strong></h3>
                                    @*<h2 class="text-center my-4">
                                            Сбор данных окончен. Нажмите принять для сохранения
                                            своих данных.
                                        </h2>*@
                                    <div class="form-group md-form">
                                        <label for="IsDiabetes" data-error="wrong" data-success="right">Есть ли у вас родственники болеющие или болевшие диабетом?</label>
                                        @Html.DropDownListFor(m => m.IsDiabetes, Model.DiabetesSelect, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group md-form">
                                        <label for="IsParents75" data-error="wrong" data-success="right">Есть ли у вас родители, не дожившие до 75 лет?</label>
                                        @Html.DropDownListFor(m => m.IsParents75, Model.Parents75Select, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group md-form">
                                        <label for="IsParents90" data-error="wrong" data-success="right">Есть ли у вас родственники прожившие более 90 лет?</label>
                                        @Html.DropDownListFor(m => m.IsParents90, Model.Parents90Select, new { @class = "form-control" })
                                    </div>
                                    <button class="btn btn-mdb-color btn-rounded prevBtn-3 float-left" type="button">Назад</button>
                                    <button class="btn btn-success btn-rounded float-right" type="submit">Принять</button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->
            </div>
        </div>

    </div>

</section>

@section Scripts{
    <script>
        $(document).ready(function () {

            $("input:radio[name='AligmentId']").on("change", function () {
                var descr = $(this).attr("data_descr");
                $(".aligment_description").html(descr);
            });

            //Datemask2
            $('#Growth').inputmask("Regex", {
                regex: "^[0-9]{3}"
            });

            $('#Weight').inputmask('Regex', {
                regex: "^[0-9]{3}"
            });

            $('#NickName').inputmask('Regex', {
                regex: "^[0-9aA-zZ]{20}"
            });

            var navListItems = $('div.setup-panel-3 div a'),
                allWells = $('.setup-content-3'),
                allNextBtn = $('.nextBtn-3'),
                allPrevBtn = $('.prevBtn-3');

            allWells.hide();

            navListItems.click(function (e) {
                e.preventDefault();
                var $target = $($(this).attr('href')),
                    $item = $(this);

                if (!$item.hasClass('disabled')) {
                    navListItems.removeClass('btn-info').addClass('btn-pink');
                    $item.addClass('btn-info');
                    allWells.hide();
                    $target.show();
                    $target.find('input:eq(0)').focus();
                }
            });

            allPrevBtn.click(function () {
                var curStep = $(this).closest(".setup-content-3"),
                    curStepBtn = curStep.attr("id"),
                    prevStepSteps = $('div.setup-panel-3 div a[href="#' + curStepBtn + '"]').parent().prev().children("a");

                prevStepSteps.removeAttr('disabled').trigger('click');
            });

            allNextBtn.click(function () {
                var curStep = $(this).closest(".setup-content-3"),
                    curStepBtn = curStep.attr("id"),
                    nextStepSteps = $('div.setup-panel-3 div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                    curInputs = curStep.find("input[type='text'],input[type='url']"),
                    isValid = true;

                $(".form-group").removeClass("has-error");
                for (var i = 0; i < curInputs.length; i++) {
                    if (!curInputs[i].validity.valid) {
                        isValid = false;
                        $(curInputs[i]).closest(".form-group").addClass("has-error");
                    }
                }

                if (isValid)
                    nextStepSteps.removeAttr('disabled').trigger('click');
            });

            $('div.setup-panel-3 div a.btn-info').trigger('click');
        });
    </script>
}
