@model TaskProject.Models.Goal

@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.GoalId)
    @Html.HiddenFor(model => model.IsComplete)
    @Html.HiddenFor(model => model.UserId)
    <div class="form-group">
        <div class="col-12">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label", required = "required" })
        </div>
        <div class="col-12">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        </div>
        <div class="col-12">
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-12">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-12">
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = "10", style = "resize:none;" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-12">
            @Html.LabelFor(model => model.RepeatId, "Повторение", htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-12">
            @Html.DropDownListFor(g => g.RepeatId, (IEnumerable<SelectListItem>)ViewBag.RepeateId, new { @class = "form-control" })
        </div>
    </div>

    <div class="input-group mb-2">
        <div class="col-md-6 col-12">
            <div>
                @Html.LabelFor(model => model.GoalStart, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
                <input class="form-control" type="date" name="GoalStart" min="@Model.GoalStart.ToString("yyyy-MM-dd")" value="@Model.GoalStart.ToString("yyyy-MM-dd")" />
            </div>
        </div>
        <div class="col-md-6 col-12 GoalEnd">
            <div>
                @Html.LabelFor(model => model.GoalEnd, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
                <input class="form-control d-inline-block" type="date" name="GoalEnd" min="@Model.GoalStart.ToString("yyyy-MM-dd")" value="@Model.GoalStart.ToString("yyyy-MM-dd")" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-12">
            @Html.LabelFor(model => model.ComplicationId, "Сложность", htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-12">
            @Html.DropDownList("ComplicationId", (IEnumerable<SelectListItem>)ViewBag.ComplocationId, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-12">
            @Html.LabelFor(model => model.SkillId, "Навык", htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-12">
            @Html.DropDownList("SkillId", (IEnumerable<SelectListItem>)ViewBag.SkillId, new { @class = "form-control" })
        </div>
    </div>
</div>
}
<script>
    $(document).ready(function () {
        if ($('#RepeatId').val() === "1") {
            $(".GoalEnd").css("display", "block");
        }
        else {
            $(".GoalEnd").css("display", "none");
        };
        $('#RepeatId').change(function () {
            if ($(this).val() === "1") {
                $(".GoalEnd").css("display", "block");
            }
            else {
                $(".GoalEnd").css("display", "none");
            }
        });
    });
</script>