@model IEnumerable<TaskProject.Models.GoalModels.Goal>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css{
    <!--DateTable-->
    <link rel="stylesheet" href="~/plugins/datatables/dataTables.bootstrap4.css" />
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header text-center">
                        <a class="btn btn-dark js-addgoal" href="@Url.Action("AddGoal", new {catalogid = ViewBag.CatalogId })">Добавить</a>
                        @if (ViewBag.Complete)
                        {
                            <a class="btn btn-default" href="@Url.Action("GetGoals", new {catalogid = ViewBag.CatalogId,iscomplete = false })">Скрыть завершенные</a>
                        }
                        else
                        {
                            <a class="btn btn-default" href="@Url.Action("GetGoals", new {catalogid = ViewBag.CatalogId,iscomplete = true })">Показать завершенные</a>
                        }
                    </div>
                    <div class="card-body">
                        <table class="js-datatable table  table-responsive">
                            <thead>
                                <tr>
                                    <th class="w-100">
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th style="width:250px;" class="d-none d-md-table-cell">
                                        @Html.DisplayNameFor(model => model.Skill.Name)
                                    </th>
                                    <th style="width:85px;" class="d-none d-md-table-cell">
                                        @Html.DisplayNameFor(model => model.Complication.Name)
                                    </th>
                                    <th style="width:30px;" class="d-none d-md-table-cell">
                                        Окончание
                                    </th>
                                    <th style="width:10px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var goal in Model)
                                {
                                    <tr id="goal-@goal.GoalId">
                                        @if (goal.IsComplete)
                                        {
                                            <td>

                                                <div class="float-left pr-2 h-100">
                                                    <a class="btn btn-xs btn-default js-restoregoal" href="@Url.Action("RestoreGoal", "Goals", new {id = goal.GoalId})"><i class=" fa fa-undo"></i></a>
                                                </div>
                                                <span class="cell-span">
                                                    @Html.DisplayFor(modelgoal => goal.Name)
                                                    <small class="badge badge-secondary"><i class="fa fa-clock-o"></i> Завершена</small>
                                                </span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="float-left pr-2 h-100">
                                                            <a class="btn btn-xs btn-success js-completegoal" href="@Url.Action("CompleteGoal", "Goals", new {id = goal.GoalId})"><i class=" fa fa-plus"></i></a>
                                                        </div>
                                                        <span class="cell-span-task">

                                                            @if (goal.Name.Length <= 50)
                                                            {
                                                                @goal.Name
                                                            }
                                                            else
                                                            {
                                                                string cutstring = goal.Name.Substring(0, 15) + "..";
                                                                @cutstring
                                                            }
                                                            <span style="color: #85898C">@Html.DisplayFor(modelgoal => goal.Description)</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </td>
                                        }
                                        <td class="d-none d-md-table-cell">
                                            @Html.DisplayFor(modelgoal => goal.Skill.Name)
                                        </td>
                                        <td class="d-none d-md-table-cell">
                                            @Html.DisplayFor(modelgoal => goal.Complication.Name)
                                        </td>
                                        <td class="d-none d-md-table-cell">
                                            @if (goal.GoalEnd == null)
                                            {
                                                <small class="badge badge-success"><i class="fa fa-clock-o"></i> Без срока</small>
                                            }
                                            else if (TimeZoneInfo.ConvertTimeToUtc(DateTime.Now) - goal.GoalEnd.Value > TimeSpan.FromDays(1))
                                            {
                                                <small class="badge badge-danger"><i class="fa fa-clock-o"></i> @goal.GoalEnd.Value.ToLocalTime().ToShortDateString()</small>
                                            }
                                            else
                                            {
                                                <small class="badge badge-success"><i class="fa fa-clock-o"></i> @goal.GoalEnd.Value.ToLocalTime().ToShortDateString()</small>

                                            }
                                        </td>
                                        <td>
                                            <div class="pull-right btn-group">
                                                <a class="js-editgoal btn btn-xs btn-primary" data_dialog_title="Редактирование задачи" href="@Url.Action("EditGoal","Goals",new {id = goal.GoalId })"><i class="fa fa-edit"></i></a>
                                                <a class="js-deletegoal btn btn-xs btn-danger" href="#" onclick="deletegoal(@goal.GoalId)"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{

    <!-- Datetable-->
    <script src="~/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/plugins/datatables/dataTables.bootstrap4.js"></script>
    <script>
        $(document).ready(function () {
            $('.js-datatable').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": false,
                "autoWidth": false,
                language:
                {
                    processing: "Выполняется обработка...",
                    search: "Поиск&nbsp;:",
                    lengthMenu: "Показать _MENU_ задач",
                    info: "Отображены с _START_ по _END_ из _TOTAL_ задач",
                    infoEmpty: "Нет задач",
                    infoFiltered: "(Поиск из _MAX_ задач)",
                    infoPostFix: "",
                    loadingRecords: "Идет загрузка...",
                    zeroRecords: "Задач не найдено",
                    emptyTable: "Нет задач",
                    paginate:
                    {
                        first: "К первой",
                        previous: "Предыдущие",
                        next: "Следующие",
                        last: "К последней"
                    },
                    aria:
                    {
                        sortAscending: ": Сортировка в порядке возрастания",
                        sortDescending: ": Сортировка в порядке убывания"
                    }
                }
            });
        });
    </script>
}