@model IEnumerable<TaskProject.Models.GoalModels.Goal>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css{
    <!--DateTable-->
    <link rel="stylesheet" href="~/plugins/datatables/dataTables.bootstrap4.css" />
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header text-center">
                        <a class="btn btn-info js-addgoal" href="@Url.Action("AddGoal", new {catalogid = ViewBag.CatalogId })">Добавить новую задачу</a>
                        @if (ViewBag.Complete)
                        {
                            <a class="btn btn-default" href="@Url.Action("GetGoals", new {catalogid = ViewBag.CatalogId,iscomplete = false })">Скрыть завершенные задачи</a>
                        }
                        else
                        {
                            <a class="btn btn-default" href="@Url.Action("GetGoals", new {catalogid = ViewBag.CatalogId,iscomplete = true })">Показать завершенные задачи</a>
                        }
                    </div>
                    <div class="card-body">
                        <table class="js-datatable table table-responsive-lg">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th style="width:250px;">
                                        @Html.DisplayNameFor(model => model.Skill.Name)
                                    </th>
                                    <th style="width:85px;">
                                        @Html.DisplayNameFor(model => model.Complication.Name)
                                    </th>
                                    <th style="width:30px;">
                                        Окончание
                                    </th>
                                    <th style="width:10px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var goal in Model)
                                {
                                    <tr id="goal-@goal.GoalId">
                                        @if (goal.IsComplete)
                                        {
                                            <td class="td-name">
                                                <div class="row">
                                                    <a class="btn btn-xs btn-light js-restoregoal" href="@Url.Action("RestoreGoal","Goals",new { id = goal.GoalId})"><i class=" fa fa-calendar-plus"></i></a>
                                                    <span class="text" style="max-width: 800px; margin-left:20px;margin-right:20px;">
                                                        @Html.DisplayFor(modelgoal => goal.Name)
                                                        <small class="badge badge-secondary"><i class="fa fa-clock-o"></i> Завершена</small>
                                                    </span>
                                                    
                                                </div>
                                               
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="td-name">
                                                <div class="row">
                                                    <a class="btn btn-xs btn-light js-completegoal" href="@Url.Action("CompleteGoal","Goals",new { id = goal.GoalId})"><i class=" fa fa-calendar-check"></i></a>
                                                    <span class="text" style="max-width:800px; margin-left:20px;margin-right:20px;">
                                                        @Html.DisplayFor(modelgoal => goal.Name) <br />
                                                        <span style="color:#85898C">@Html.DisplayFor(modelgoal => goal.Description)</span>
                                                    </span>
                                                </div>
                                            </td>
                                        }
                                        <td>
                                            @Html.DisplayFor(modelgoal => goal.Skill.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelgoal => goal.Complication.Name)
                                        </td>
                                        <td>
                                            @if (goal.GoalEnd == null)
                                            {
                                                <small class="badge badge-success"><i class="fa fa-clock-o"></i> Без срока</small>
                                            }
                                            else if (DateTime.Now - goal.GoalEnd > TimeSpan.FromDays(1))
                                            {
                                                <small class="badge badge-danger"><i class="fa fa-clock-o"></i> @goal.GoalEnd.Value.ToShortDateString()</small>
                                            }
                                            else
                                            {
                                                <small class="badge badge-success"><i class="fa fa-clock-o"></i> @goal.GoalEnd.Value.ToShortDateString()</small>

                                            }
                                        </td>
                                        <td>
                                            <div class="pull-right btn-group">
                                                <a class="js-editgoal btn btn-xs btn-primary" data_dialog_title="Редактирование задачи" href="@Url.Action("EditGoal","Goals",new {id = goal.GoalId })"><i class="fa fa-edit"></i></a>
                                                <a class="js-deletegoal btn btn-xs btn-danger" href="#" onclick="deletegoal(@goal.GoalId)"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{

    <!-- Datetable-->
    <script src="~/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/plugins/datatables/dataTables.bootstrap4.js"></script>
    <script>
        $(document).ready(function () {
            $('.js-datatable').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": false,
                "autoWidth": false,
                language:
                    {
                        processing: "Выполняется обработка...",
                        search: "Поиск&nbsp;:",
                        lengthMenu: "Показать _MENU_ задач",
                        info: "Отображены с _START_ по _END_ из _TOTAL_ задач",
                        infoEmpty: "Нет задач",
                        infoFiltered: "(Поиск из _MAX_ задач)",
                        infoPostFix: "",
                        loadingRecords: "Идет загрузка...",
                        zeroRecords: "Задач не найдено",
                        emptyTable: "Нет задач",
                        paginate:
                            {
                                first: "К первой",
                                previous: "Предыдущие",
                                next: "Следующие",
                                last: "К последней"
                            },
                        aria:
                            {
                                sortAscending: ": Сортировка в порядке возрастания",
                                sortDescending: ": Сортировка в порядке убывания"
                            }
                    }
            });
        });
    </script>
}