@model IEnumerable<TaskProject.Models.Goal>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@ViewBag.Breadcrumb</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("GameRoom","Home")">Главная</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Breadcrumb</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row" style="text-align:center;">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="btn btn-info addgoal" href="@Url.Action("AddGoal","Goals")">Добавить новую задачу</a>
                        @if (ViewBag.Complete)
                        {
                            <a class="btn btn-default" href="@Url.Action("GetGoals", new {iscomplete = false })">Скрыть завершенные задачи</a>
                        }
                        else
                        {
                            <a class="btn btn-default" href="@Url.Action("GetGoals", new {iscomplete = true })">Показать завершенные задачи</a>
                        }
                    </div>
                    <div class="card-body">
                        <table class="sw_datatable table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Complication.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Skill.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.GoalEnd)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var goal in Model)
                                {
                                    <tr id="goal-@goal.GoalId" @if (goal.IsComplete) { <text> style="background-color:grey" </text> }>
                                        <td>
                                            <a href="@Url.Action("CompleteGoal","Goals",new { id = goal.GoalId})" class="btn btn-xs completegoal"><i class=" fa fa-check"></i></a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelgoal => goal.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelgoal => goal.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelgoal => goal.Complication.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelgoal => goal.Skill.Name)
                                        </td>
                                        <td>
                                            @if (goal.GoalEnd == null)
                                            {
                                                <small class="badge badge-success"><i class="fa fa-clock-o"></i> Без срока</small>
                                            }
                                            else if (DateTime.Now - goal.GoalEnd > TimeSpan.FromDays(1))
                                            {
                                                <small class="badge badge-danger"><i class="fa fa-clock-o"></i> @goal.GoalEnd.Value.ToShortDateString()</small>
                                            }
                                            else
                                            {
                                                <small class="badge badge-success"><i class="fa fa-clock-o"></i> @goal.GoalEnd.Value.ToShortDateString()</small>

                                            }
                                        </td>
                                        <td>
                                            <div class="pull-right">
                                                <a style="display:block" class="editgoal" data_dialog_title="Редактирование задачи" href="@Url.Action("EditGoal","Goals",new {id = goal.GoalId })"><i class="fa fa-edit"></i></a>
                                                <a style="display:block" class="deletegoal" href="#" onclick="deletegoal(@goal.GoalId)"><i class="fa fa-trash-o"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
