@model IEnumerable<TaskProject.Models.Goal>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css{
    <!--DateTable-->
    <link rel="stylesheet" href="~/plugins/datatables/jquery.dataTables.min.css" />
}

<section class="content">
    <div class="container-fluid">
        <div class="row" style="text-align:center;">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="btn btn-info addgoal" href="@Url.Action("AddGoal","Goals")">Добавить новую задачу</a>
                        @if (ViewBag.Complete)
                        {
                            <a class="btn btn-default" href="@Url.Action("GetGoals", new {iscomplete = false })">Скрыть завершенные задачи</a>
                        }
                        else
                        {
                            <a class="btn btn-default" href="@Url.Action("GetGoals", new {iscomplete = true })">Показать завершенные задачи</a>
                        }
                    </div>
                    <div class="card-body">
                        <table class="sw_datatable table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Complication.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Skill.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.GoalEnd)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var goal in Model)
                                {
                                    <tr id="goal-@goal.GoalId">
                                        <td>
                                            <a href="@Url.Action("CompleteGoal","Goals",new { id = goal.GoalId})" class="btn btn-xs completegoal"><i class=" fa fa-check"></i></a>
                                        </td>
                                        <td @if (goal.IsComplete) { <text> style="text-decoration:line-through" </text> }>
                                            @Html.DisplayFor(modelgoal => goal.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelgoal => goal.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelgoal => goal.Complication.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelgoal => goal.Skill.Name)
                                        </td>
                                        <td>
                                            @if (goal.GoalEnd == null)
                                            {
                                                <small class="badge badge-success"><i class="fa fa-clock-o"></i> Без срока</small>
                                            }
                                            else if (DateTime.Now - goal.GoalEnd > TimeSpan.FromDays(1))
                                            {
                                                <small class="badge badge-danger"><i class="fa fa-clock-o"></i> @goal.GoalEnd.Value.ToShortDateString()</small>
                                            }
                                            else
                                            {
                                                <small class="badge badge-success"><i class="fa fa-clock-o"></i> @goal.GoalEnd.Value.ToShortDateString()</small>

                                            }
                                        </td>
                                        <td>
                                            <div class="pull-right">
                                                <a style="display:block" class="editgoal" data_dialog_title="Редактирование задачи" href="@Url.Action("EditGoal","Goals",new {id = goal.GoalId })"><i class="fa fa-edit"></i></a>
                                                <a style="display:block" class="deletegoal" href="#" onclick="deletegoal(@goal.GoalId)"><i class="fa fa-trash-o"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{

    <!-- Datetable-->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.sw_datatable').DataTable({
                language: {
                    processing: "Выполняется обработка...",
                    search: "Поиск&nbsp;:",
                    lengthMenu: "Показать _MENU_ задач",
                    info: "Отображены с _START_ по _END_ из _TOTAL_ задач",
                    infoEmpty: "Нет задач",
                    infoFiltered: "(Поиск из _MAX_ задач)",
                    infoPostFix: "",
                    loadingRecords: "Идет загрузка...",
                    zeroRecords: "Задач не найдено",
                    emptyTable: "Нет задач",
                    paginate: {
                        first: "К первой",
                        previous: "Предыдущие",
                        next: "Следующие",
                        last: "К последней"
                    },
                    aria: {
                        sortAscending: ": Сортировка в порядке возрастания",
                        sortDescending: ": Сортировка в порядке убывания"
                    }
                }
            });

        });
    </script>

}