@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using TaskProject
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

<p class="login-box-msg">Войти в аккаунт</p>
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-auth-small", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "control-label sr-only" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "control-label sr-only" })
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Пароль" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <button type="submit" class="btn btn-primary btn-lg btn-block">ВОЙТИ</button>

    <div class="social-auth-links text-center mb-3">
        <p>- ИЛИ -</p>
        <a href="#" class="btn btn-block btn-primary">
            <i class="fa fa-facebook mr-2"></i> Войти с помощью Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
            <i class="fa fa-google-plus mr-2"></i> Войти с помощью Google+
        </a>
    </div>
    <!-- /.social-auth-links -->

    <p class="mb-1">
        <a href="@Url.Action("ForgotPassword","Account")">Забыли пароль?</a>
    </p>
    <p class="mb-0">
        <a href="@Url.Action("Register", "Account")" class="text-center">Регистрация нового аккаунта</a>
    </p>
}

